/* Import Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&family=Open+Sans:wght@400;600&display=swap');

/* General Layout */
body {
  font-family: 'Open Sans', sans-serif;
  color: #e0e0e0;
}

/* Headers */
h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  font-weight: 600;
}

  details {
    border: 1px solid #444;
    border-radius: 4px;
    background-color: #2e3436;
    padding: 10px;
    width: fit-content;
  }

  summary {
    font-size: 16px;
    font-weight: bold;
    color: #66afe9;
    cursor: pointer;
  }

  summary:hover {
    color: #ffffff;
  }

  code {
    background-color: #2e3436;
    color: #66afe9;
    font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
    padding: 8px;
    border-radius: 4px;
  }

  pre {
    background-color: #2e3436;
    border: 1px solid #444;
    border-radius: 4px;
    padding: 10px;
    color: #fff;
    overflow: auto;
    width: fit-content;
    max-width: 100%;
  }
  .sourceCode r {
    overflow: auto; /* Allow horizontal scroll if needed */
    white-space: pre-wrap; /* Allow line breaks within code */
    word-wrap: break-word; /* Break long words */
    width: 100%; /* Set to full width */
    max-width: 100%; /* Ensure it doesn't overflow */
  }
   .leaflet-control .leaflet-legend {
    max-height: 150px;  /* Adjust the height */
    overflow-y: scroll; /* Enable vertical scrolling */
  }
